html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #1d3b6c;
}

.button {
  display: inline-block;
  padding: 18px 48px;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 500;
  border-radius: 30px;
  line-height: 1;
  cursor: pointer;
}
.button:hover {
  background-color: #1d3b6c;
}
.button-primary {
  color: #ffffff;
  background-color: #5cc6ee;
}
.button-readmore {
  transform: translateY(-90px);
}
.button-submit {
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #1c4ecb;
}

a {
  text-decoration: none;
  color: #1d3b6c;
}

a:hover {
  color: #ff6464;
}

.text-red {
  color: #ff6464;
}
.text-blue {
  color: #5cc6ee;
}
.text-white {
  color: #ffffff;
}
.text-default {
  color: #1d3b6c;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}
.heading-line {
  height: 3px;
  border-width: 0;
  background-color: #5cc6ee;
  width: 181px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1d3b6c;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1d3b6c;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #1d3b6c;
}

@media screen and (max-width: 1279.98px) {
  .button-readmore {
    transform: translateY(-50px);
  }
}
@media screen and (max-width: 767.98px) {
  .button {
    padding: 16px 28px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.header {
  padding: 40px 0;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: all 0.5s;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  cursor: pointer;
}
.header.shrink {
  padding: 5px 0;
  background-color: #5cc6ee;
  transition: all 0.5s;
}
.header.shrink .header-logo {
  height: 70px;
}

@media screen and (max-width: 1279.98px) {
  .header-container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1023.98px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  .header-logo {
    height: 90px;
  }
}
@media screen and (max-width: 767.98px) {
  .header-container {
    padding: 0;
  }
  .header-logo {
    height: 65px;
  }
  .header.shrink .header-logo {
    height: 65px;
  }
}
.menu {
  font-family: "Inter", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.menu-toggle {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.menu-icon {
  height: 34px;
  width: 34px;
}
.menu-link {
  font-family: "Inter", sans-serif;
  color: #1d3b6c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2222222222;
}
.menu-link.active {
  font-weight: 700;
  opacity: unset;
}
.menu-link:hover {
  color: #ff6464;
}

@media screen and (max-width: 1279.98px) {
  .menu {
    gap: 0 24px;
  }
}
@media screen and (max-width: 1023.98px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    z-index: 99;
    border-left: 1px solid #1d3b6c;
    flex-direction: column;
    padding-top: 60px;
    align-items: stretch;
    background-color: #fff;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
  }
  .menu.is-show {
    transform: translateX(0);
  }
  .menu-toggle {
    display: inline-flex;
  }
  .menu-link {
    display: block;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
  }
}
.hero {
  padding-top: 20px;
  padding-bottom: 130px;
}
.hero-container {
  display: flex;
  align-items: center;
  gap: 0 57px;
}
.hero-content {
  max-width: 540px;
}
.hero-heading {
  font-size: 42px;
  font-weight: 700;
}
.hero-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 2.2222222222;
  margin-bottom: 30px;
}

@media screen and (max-width: 1279.98px) {
  .hero-container {
    gap: 0 33px;
    padding: 0 20px;
  }
  .hero-content {
    max-width: 450px;
  }
  .hero-heading {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .hero-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 1023.98px) {
  .hero {
    padding-bottom: 100px;
  }
  .hero-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;
    gap: 30px 0;
  }
  .hero-content {
    max-width: 100%;
  }
  .hero-heading {
    font-size: 37px;
    margin-bottom: 5px;
  }
  .hero-desc {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 40px;
  }
  .hero-image {
    height: 500px;
    width: auto;
  }
  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 767.98px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero-container {
    flex-direction: column-reverse;
  }
  .hero-heading {
    font-size: 32px;
  }
  .hero-desc {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .hero-image {
    height: 350px;
  }
}
.blog-hero {
  position: relative;
  height: 700px;
}
.blog-background {
  opacity: 90%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-heading {
  position: absolute;
  top: 400px;
  left: 84px;
  font-size: 42px;
  font-weight: 900;
}
.blog-content {
  position: relative;
  padding: 140px 150px 120px 150px;
}
.blog-content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 81px;
}
.blog-content-text {
  max-width: 690px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2083333333;
  letter-spacing: 0.01rem;
  color: black;
}
.blog-more {
  position: relative;
}
.blog-more-background {
  height: 743px;
}
.blog-more-fill {
  background-color: #b2afafad;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-more-image {
  position: absolute;
  top: 0;
  z-index: -11;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: inherit;
}
.blog-more-content {
  text-align: center;
  max-width: 941px;
}
.blog-more-content h3 {
  color: #fffefe;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2222222222;
  opacity: 100%;
}
.blog-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
}
.blog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
  gap: 0 78px;
  transform: translateY(-150px);
}
.blog-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.blog-item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
}

.image-world {
  position: absolute;
  top: 290px;
  left: 455px;
}
.image-plane {
  position: absolute;
  top: 78px;
  right: 480px;
}
.image-covid-1 {
  position: absolute;
  top: 98px;
  right: 183px;
}
.image-covid-2 {
  position: absolute;
  height: 191px;
  top: 259px;
  right: 88px;
}

#blog-text-1 {
  max-width: 840px;
  margin-bottom: 120px;
}

@media screen and (max-width: 1279.98px) {
  .blog-hero {
    height: 500px;
  }
  .blog-heading {
    top: 250px;
    left: 15px;
    font-size: 36px;
  }
  .blog-content {
    padding: 50px;
  }
  .blog-more-background {
    height: 550px;
  }
  .blog-more-content h3 {
    font-size: 28px;
  }
  .blog-items {
    transform: translateY(-100px);
  }

  .image-plane {
    height: 30%;
    top: 30px;
    right: 120px;
  }
  .image-covid-1 {
    display: none;
  }
  .image-world {
    top: 200px;
    left: 350px;
  }
  .image-covid-2 {
    top: 170px;
  }
}
@media screen and (max-width: 1023.98px) {
  .blog-heading {
    font-size: 28px;
  }
  .blog-content {
    padding: 50px 20px;
  }
  .blog-content-item {
    gap: 0 40px;
  }
  .blog-more-content h3 {
    font-size: 25px;
    max-width: 500px;
  }
  .blog-item-title {
    font-size: 16px;
  }

  .image-covid-1 {
    display: none;
  }
  .image-world {
    top: 200px;
    left: 350px;
  }
  .image-covid-2 {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .blog-hero {
    height: 400px;
  }
  .blog-background {
    object-position: -200px;
  }
  .blog-heading {
    font-size: 24px;
    top: 220px;
  }
  .blog-content-item {
    flex-direction: column;
    gap: 40px 0;
  }
  .blog-content-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .blog-more-content h3 {
    font-size: 22px;
    max-width: 300px;
  }
  .blog-items {
    grid-template-columns: none;
    gap: 40px 0;
  }

  .image-world {
    display: none;
  }
  .image-plane {
    height: 20%;
    right: 20px;
  }

  #blog-text-1 {
    margin-bottom: 40px;
  }
}
.statistical {
  padding-bottom: 160px;
}
.statistical-container {
  display: flex;
  justify-content: center;
}
.statistical-heading {
  margin-bottom: 37px;
}
.statistical-choice {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  margin-bottom: 40px;
}
.statistical-content {
  gap: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.covid-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px 0;
}
.covid-data-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.covid-data-title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 10px;
}
.covid-data-number {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2142857143;
}

.maps {
  position: relative;
  height: 525px;
  width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#map-vn {
  display: block;
}
#map-global {
  display: none;
}

#vietnam {
  background-color: #1d3b6c;
}

@media screen and (max-width: 1279.98px) {
  .statistical-content {
    flex-direction: column;
  }

  .covid-data {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    gap: 0 20px;
  }

  .maps {
    height: 600px;
    width: auto;
    margin: 0 30px;
  }
}
@media screen and (max-width: 1023.98px) {
  .maps {
    height: 477px;
    margin: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .statistical-map {
    display: none;
  }

  .covid-data {
    flex-direction: column;
    gap: 20px 0;
  }
}
.mapael {
  /* For all zoom buttons */
  /* Reset Zoom button first */
  /* Then Zoom In button */
  /* Then Zoom Out button */
}
.mapael .mapTooltip {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  background-color: #e7eef4;
  opacity: 0.9;
  filter: alpha(opacity=70);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #1d3b6c;
  box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.mapael .zoomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  width: 28px;
  height: 28px;
  line-height: 15px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 400;
  left: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.mapael .zoomReset {
  top: 10px;
}
.mapael .zoomIn {
  top: 40px;
}
.mapael .zoomOut {
  top: 70px;
}
.mapael .map {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
.mapael .map svg {
  height: auto;
  border-radius: 10px;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.news-heading {
  margin-bottom: 83px;
}
.news-list {
  margin-bottom: 96px;
}
.news-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 62px;
  margin-bottom: 56px;
}
.news-even {
  flex-direction: row-reverse;
}
.news-content {
  max-width: 660px;
}
.news-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2222222222;
  margin-bottom: 20px;
}
.news-desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (max-width: 1023.98px) {
  .news-list {
    margin-bottom: 30px;
  }
  .news-item {
    gap: 0 30px;
  }
  .news-content {
    max-width: 400px;
  }
}
@media screen and (max-width: 767.98px) {
  .news-container {
    padding: 0 10px;
  }
  .news-item {
    flex-direction: column;
  }
  .news-image {
    margin-bottom: 10px;
  }
  .news-title {
    margin-bottom: 10px;
  }
  .news-desc {
    font-size: 16px;
  }
}
.tutorials-item {
  display: flex;
  align-items: center;
  gap: 0 86px;
  margin-bottom: 56px;
}

@media screen and (max-width: 1023.98px) {
  .tutorials-item {
    gap: 0 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .tutorials-item {
    flex-direction: column;
  }
}
.help-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 125px;
  border: 2px solid #1d3b6c;
  border-radius: 40px;
  box-shadow: 0px 29px 0px -14px #5cc6ee, 0px 52px 0px -24px #7777771f, 0px 0px 50px -1px #5cc6ee;
}
.help-heading {
  margin-bottom: 10px;
}
.help-logo {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-desc {
  max-width: 550px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}
.help-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.help-form small {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #ff6464;
}
.help-input {
  background-color: #5cc6ee;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  padding: 12px 20px;
}
.help-input-field {
  width: 350px;
}
.help-input-area {
  height: 200px;
  width: 350px;
}
.help-submit {
  font-size: 16px;
  width: 200px;
  margin-top: 20px;
}
.help-submit:hover {
  background-color: #1d3b6c;
}

input {
  color: #1d3b6c;
}

#help-covid-icon-1 {
  position: absolute;
  height: 145px;
  top: 280px;
  left: 52px;
}
#help-covid-icon-2 {
  position: absolute;
  height: 180px;
  top: 400px;
  right: 108px;
}
#help-covid-icon-3 {
  position: absolute;
  height: 110px;
  left: 260px;
  top: 520px;
}

@media screen and (max-width: 1023.98px) {
  #help-covid-icon-1 {
    position: absolute;
    height: 145px;
    top: 200px;
    left: 12px;
  }
  #help-covid-icon-2 {
    position: absolute;
    height: 180px;
    top: 350px;
    right: 5px;
  }
  #help-covid-icon-3 {
    position: absolute;
    height: 110px;
    left: 80px;
    top: 520px;
  }
}
@media screen and (max-width: 767.98px) {
  .help-container {
    padding: 30px 25px;
  }
  .help-input-field {
    width: 240px;
  }
  .help-input-area {
    width: 240px;
  }

  #help-covid-icon-1 {
    display: none;
  }
  #help-covid-icon-2 {
    display: none;
  }
  #help-covid-icon-3 {
    display: none;
  }
}
.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  max-width: 400px;
  position: fixed;
  border: 2px solid #1d3b6c;
  border-radius: 30px;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  opacity: 1;
  top: -200%;
  right: 20%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
  z-index: 999;
}
.dialog.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic- bezier 0.18, 0.89, 0.43, 1.19;
}
.dialog-image {
  height: 102px;
  width: 102px;
  margin-bottom: 20px;
}
.dialog-heading {
  margin-bottom: 10px;
}
.dialog-desc {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1279.98px) {
  .dialog {
    right: 10%;
  }
}
@media screen and (max-width: 1023.98px) {
  .dialog {
    right: 5%;
  }
}
@media screen and (max-width: 767.98px) {
  .dialog {
    right: -20%;
  }
}
.author {
  padding-top: 150px;
  padding-bottom: 125px;
}
.author-heading {
  padding-bottom: 90px;
}
.author-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 110px;
}
.author-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 32px 32px 32px;
  width: 400px;
  border: 1px solid #1d3b6c;
  border-radius: 30px;
  box-shadow: #5cc6ee 10px 5px;
}
.author-image {
  position: absolute;
  top: -70px;
  left: 33%;
}
.author-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22/16;
  margin-bottom: 20px;
}

.text-right {
  float: right;
}
.text-left {
  float: left;
}

@media screen and (max-width: 1279.98px) {
  .author-list {
    gap: 0 50px;
  }
}
@media screen and (max-width: 1023.98px) {
  .author-list {
    margin-top: 30px;
    flex-direction: column;
    gap: 150px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .author-item {
    width: 340px;
  }
}
@media screen and (max-width: 374.98px) {
  .author-item {
    width: 310px;
    padding: 80 21px 21px;
  }
}
.footer {
  background-color: #5cc6ee;
  padding: 41px 0;
}
.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 300px;
}
.footer-menu {
  list-style: none;
}
.footer-menu-item {
  margin-bottom: 16px;
  font-weight: 600;
}
.footer-menu-item + .footer-menu-item {
  margin-bottom: 16px;
}
.footer-menu-link {
  color: #ffffff;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-info {
  margin-bottom: 50px;
}
.footer-heading {
  margin-bottom: 18px;
}
.footer-text {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 8px;
}
.footer-icon {
  height: 24px;
  width: 24px;
}

.social-media-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 24px;
}

@media screen and (max-width: 1023.98px) {
  .footer-container {
    gap: 0 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer {
    font-size: 16px;
  }
  .footer-container {
    flex-direction: column;
    gap: 20px 0;
  }
  .footer-menu {
    padding-left: 20px;
  }
  .footer-contact {
    padding-left: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
