.author {
  padding-top: 147px;
  padding-bottom: 124px;
  &-heading {
    padding-bottom: 90px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 32px 32px 32px;
    max-width: 480px;
    border: 1px solid #1d3b6c;
    border-radius: 30px;
    box-shadow: $blue-color 10px 5px;
  }
  &-image {
    position: absolute;
    top: -70px;
  }
  &-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22/16;
    margin-bottom: 20px;
  }
}
