@import "variables";
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  line-height: 1;
  font-family: $font;
  color: $text-color;
}
.button {
  display: inline-block;
  padding: 18px 67px;
  font-family: $font;
  font-weight: 400;
  border-radius: 100rem;
  line-height: 1;
  cursor: pointer;
  &-primary {
    color: $text-white-color;
    background-color: $blue-color;
  }
}
.text-red {
  color: red;
}
.text-white {
  color: white;
}
