@import "variables";
html {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  line-height: 1;
  font-family: $font;
  font-size: 18px;
  color: $text-color;
}
.button {
  display: inline-block;
  padding: 18px 48px;
  font-family: $font;
  font-size: 19px;
  font-weight: 500;
  border-radius: 30px;
  line-height: 1;
  cursor: pointer;
  &:hover {
    background-color: $text-color;
  }
  &-primary {
    color: $text-white-color;
    background-color: $blue-color;
  }
  &-readmore {
    transform: translateY(-90px);
  }
  &-submit {
    color: $text-white-color;
    box-shadow: 0px 4px 0px 0px #1c4ecb;
  }
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  color: $red-color;
}

.text {
  &-red {
    color: $red-color;
  }
  &-blue {
    color: $blue-color;
  }
  &-white {
    color: $text-white-color;
  }
  &-default {
    color: $text-color;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  &-line {
    height: 3px;
    border-width: 0;
    background-color: #5cc6ee;
    width: 181px;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $text-color;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $text-color;
}

@media screen and (max-width: 1279.98px) {
  .button {
    &-readmore {
      transform: translateY(-50px);
    }
  }
}

@media screen and (max-width: 767.98px) {
  .button {
    padding: 16px 28px;
  }
}
