.header {
  padding-top: 40px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    cursor: pointer;
  }
}
@media screen and (max-width: 1279.98px) {
  .header {
    &-container {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding-top: 20px;
    padding-left: 15px;
    &-logo {
      height: 90px;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .header {
    &-container {
      padding: 0;
    }
    &-logo {
      height: 65px;
    }
  }
}
