.hero {
  padding-top: 40px;
  padding-bottom: 130px;
  &-container {
    display: flex;
    align-items: center;
    gap: 0 57px;
  }
  &-content {
    max-width: 540px;
  }
  &-heading {
    font-size: 42px;
    font-weight: 700;
  }
  &-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(40 / 18);
    margin-bottom: 30px;
  }
}
