.news {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  &-heading {
    margin-bottom: 83px;
  }
  &-list {
    margin-bottom: 96px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 62px;
    margin-bottom: 56px;
  }
  &-content {
    max-width: 660px;
  }
  &-title {
    font-size: 20px;
    font-weight: 600;
    line-height: calc(44 / 36);
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 18px;
    font-weight: 300;
    line-height: calc(36 / 24);
  }
}
