.news {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  &-heading {
    margin-bottom: 83px;
  }
  &-list {
    margin-bottom: 96px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 62px;
    margin-bottom: 56px;
  }
  &-even {
    flex-direction: row-reverse;
  }
  &-content {
    max-width: 660px;
  }
  &-title {
    font-size: 20px;
    font-weight: 600;
    line-height: calc(44 / 36);
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 18px;
    font-weight: 300;
    line-height: calc(36 / 24);
  }
}

@media screen and (min-width: 1920px) {
  .news {
    &-content {
      max-width: 800px;
    }
    &-item {
      gap: 0 80px;
    }
    &-title {
      font-size: 22px;
    }
    &-desc {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .news {
    &-list {
      margin-bottom: 30px;
    }
    &-item {
      gap: 0 30px;
    }
    &-content {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .news {
    &-container {
      padding: 0 10px;
    }
    &-item {
      flex-direction: column;
    }
    &-image {
      margin-bottom: 10px;
    }
    &-title {
      margin-bottom: 10px;
    }
    &-desc {
      font-size: 16px;
    }
  }
}
